AddDefaultCharset utf-8
Options +FollowSymlinks -MultiViews

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.webbteknik\.nu$ [NC]
RewriteRule ^(.*)$ http://webbteknik.nu/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^wt.book$ [NC]
RewriteBase /website/html

RewriteRule userpage$                    userpage/                      [R=301,NC,L]
RewriteRule userpage/$                   userpage.php                   [NC,L]
RewriteRule userpage/(.*)/vidnum/(.*)$   userpage.php?book=$1&vidnum=$2 [NC,L]
RewriteRule userpage/video/(.*)$         userpage.php?video=$1          [NC,L]

RewriteRule resources$         resources/             [R=301,NC,L]
RewriteRule resources/(.*)$    resources.php?what=$1  [NC,L]

RewriteRule flashcards$             flashcards/            [R=301,NC,L]
RewriteRule flashcards/set=(.*)$    flashcards.php?set=$1  [NC,L]



# Notes
# HTTP_HOST
# REQUEST_URI
# SCRIPT_NAME

# TODO Prevent hotlinking and direct access to videos

# Links
# http://stackoverflow.com/questions/13675553/unwanted-default-rewrite-alias/13683376#13683376
# http://www.the-art-of-web.com/system/rewrite/1/
# http://www.the-art-of-web.com/system/duplicate-content/

# http://stackoverflow.com/questions/6987929/preparing-php-application-to-use-with-utf-8

# Firefox caches redirects (sic!) http://kb.mozillazine.org/Browser.cache.check_doc_frequency
