RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.webbteknik\.nu$ [NC]
RewriteRule ^(.*)$ http://webbteknik.nu/$1 [R=301,L]

AddDefaultCharset utf-8

# http://stackoverflow.com/questions/6987929/preparing-php-application-to-use-with-utf-8

# TODO Prevent hotlinking and direct access to videos

Options +FollowSymlinks
RewriteEngine on
RewriteRule video/(.*)$ userpage.php?video=$1 [NC,L]

# The idea
# - Logged in users should be directed to userpage.php?video=xyz
# - Non-logged in users should be directed to videopage.php?video=xyz

# Notes
# HTTP_HOST
# REQUEST_URI
# SCRIPT_NAME
