@CHARSET "UTF-8";
/* http://colorschemedesigner.com/#3321Tw0w0w0w0 */
/*
====================================================
Global rules
====================================================
*/
body {
    margin: auto;
    width: 860px;
    font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
    font-size: 100%;
}
section, header, footer {
    outline: none; /* reset */
}
p {
    -moz-hyphen: auto;
}
header {
    text-align: center;
    padding: 20px 0 0;
    /* outline: 1px dotted red; */
}
.hwrap {
    /* outline: 1px dotted green; */
}
.hwrap > a {
    margin-right: 30px;
    /* outline: 1px dotted blue; */
}
h1 {
    font-family: 'Merienda One', cursive;
    margin: 0;
    display: inline-block;
    /* outline: 1px dotted teal; */
}
h1:first-letter {
    color: #00af64;
}
/*
=============================================================
Rules for positioning - block, images, captions, etc.
=============================================================
*/
.block {
    overflow: auto;
    margin-bottom: 20px;
}
.blockslider {
    /* overflow: auto; */
    height: 300px;
    margin-bottom: 20px;
}
.double {
    border: 1px solid #ccc;
    padding: 5px;
}
.alignright {
    float: right;
    padding: 0;
    margin: 0 0 10px 10px;
    display: inline; /* Fixes double margin bug in IE 6 */
}
.alignleft {
    float: left;
    padding: 0;
    margin: 0 10px 15px 0;
    display: inline; /* Fixes double margin bug in IE 6 */
}
.aligncenter{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}
.clear {
    clear:both;
}
/*
====================================================
Start page rules
====================================================
*/
/* Original 261 x 220 */
.startpage .logo {
    width: 235px;
    height: 198px;
}
.startpage > header h1 {
    font-size: 500%;
    vertical-align: 53%;
}
p.tagline  {
    font-size: 120%;
    padding: 0.5em;
    border-top: 3px double #00af64;
    border-bottom: 3px double #00af64;
    margin: 3em 0;
    clear: both;
}
.startpage > section {
    display: inline-block;
    width: 20%;
    margin-right: 6%;
    vertical-align: top;
}
.startpage > section:last-of-type {
    margin-right: 0;
}
.startpage > section p {
     padding: 1ch; /* Just för att inte alla stödjer ch */
}
footer {
    display: block;
    clear: both;
    margin-top: 3em;
    text-align: center;
    color: #999;
}
/*
====================================================
Main site navigation
====================================================
*/
.menu > h2,
.menu > li  {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #F5F5F5; /* very light grey */ 
    box-shadow: inset 0 0 20px #007241;
    border-radius: 50%;
    font: large 'Merienda One', cursive;
    text-align: center;
}
.subpage > nav > ul {
    margin: 0; /* local reset */
    padding: 0;
}
.menu li {
    display: block;
    list-style-type: none;
}
.menu a:link,
.menu a:visited  {
    text-decoration: none;
    color: #000;
}
.menu a:focus,
.menu a:hover {
    text-decoration: underline;
    color: #A62F00;
}
.menu a:active {
    text-decoration: underline;
    color: #FF4900;
}
/*
==================================================================================
Subpages
==================================================================================
*/
.subpage header a {
    margin: 0 40px 0 0;
    width: 172px;
}
.subpage .logo {
    width: 146px;
    height: 123px;
}
.subpage h1 {
    font-size: 260%;
    vertical-align: 40px;
    width: 640px;
}
.subpage > header h1 > span {
    color: #a62f00;
}
/* TODO: Video som förklarar kantlinjer med denna */
hr {
    padding: 0.5em; /* To make sub-pages have similar look as p.tag-line */
    border-style: double;
    border-width: 3px;
    border-color: #00af64 transparent;
    margin: 2em 0;
}
.subpage > nav {
    float: left;
    width: 20%;
    display: inline; /* Old IE bugfix */
}
div[role="main"] {
    margin-left: 25%;
}
/* The page "om-oss" */
div[role="main"] > article {
    display: block;
    width: 100%; 
    float: right; /* Floated to contain other floated content */
    padding-bottom: 1em; /* last p element contributes 1em */
    margin-bottom: 2em;
    border-bottom: 3px double #00af64;
}
div[role="main"] > article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.block > p {
    margin-left: 140px;
}
.block > p:first-of-type {
    margin-top: 0;
}
/*
figure {
    border: 0 solid #E6E6E6;
    padding: 4px;
    margin: 1em; 
}
*/
div[role="main"] figure > img {
    width : 128px;
    height : 128px;
}
.bildcaption {
    font: italic bolder 110% monospace;
    font-family: inherit; /* Restore after shorthand*/
    text-align: center;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 1em;   /* Same as p to the right */
}
.subpage > footer {
    margin-top: 0;
    padding: 1.5em;
    border-top: 3px double #00af64;
}
/*
========================================================================
Tables
========================================================================
*/
.borderless {
    *border-collapse: collapse; /* Ugly hack for IE7 and lower */
    border-spacing: 0;
}
.services {
    border:1px solid #d3d3d3;
    background: #fff;
    width: 96%;
    margin: 5% auto 2em;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    text-shadow: #fff 1px 1px 1px;
}
thead {
    font-size: 150%;
}
th, td {
    padding: 18px 28px 18px;
    text-align: left;
}
th {
    padding-top: 22px;
    background:#ddd;
}
td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
tr:target {
    background-color: #61d7a4;
}
tr:hover {
    background-color: #ff9b73;
}
tr {
    -webkit-transition: background-color 0.3s;
       -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
         -o-transition: background-color 0.3s;
}
/*
========================================================================
Nivo Slider
========================================================================
*/
.nivoSlider {
    margin: 0 auto;
    width:  618px; /* Make sure your images are the same size */
    height: 246px; /* Make sure your images are the same size */
}
/* Oanvända väl? */
/*
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}
*/
.nivo-caption {
    text-align: center;
}
/*
=====================================================
Forms (contact page)
======================================================
*/
fieldset {
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
}
legend {
    font-size: larger;
}
form p {
    position: relative; /* position absolute root */
    margin: 1.5em 0;
}
label {
    display: inline-block;
    width: 85px;
    margin-right: 5px;
    vertical-align: top;
    text-align: right;
}
label > strong {
    position: absolute;
    left: 305px;
    font-size: smaller;
    text-align: left;
}
.error {
    color: #421300;
}
input[type="text"], input[type="email"] {
    width: 200px;
}
textarea {
    width: 200px;
    height: 100px;
    /* TODO: Gör demo med resize */
    resize: vertical;
}
input[type="submit"] {
    display: block;
    margin: auto;
}


