@CHARSET "UTF-8";
body {
    margin: auto;             /* Centrera sidan */
    width: 860px;
}
section, header, footer {
}
.startpage > header {
}
.startpage > header > h1 {
    font-size: 500%;           /* Massiv rubrik */
}
.startpage > header > p.tagline {
    font-size: 120%;
    padding: 0.5em;   /* Avstånd till kantlinje */
}
.startpage > section {
}
.startpage > section:last-of-type {
}
.startpage > section > h2 {
}
footer {
}
