@CHARSET "UTF-8";
/* http://colorschemedesigner.com/#3321Tw0w0w0w0 */
body {
    margin: auto;
    width: 860px;
    font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
    font-size: 100%;
}
section, header, footer {
    outline: none;
}
.startpage > header,
.subpage > header {
    text-align: center;
	background:#fff;
	overflow:auto;
}
.imagefiller {
    font-size: 800%;
    float: left;
       -moz-transform: translate(0, -30px) rotate(90deg) scale(2);
         -o-transform: translate(0, -30px) rotate(90deg) scale(2);
}
.startpage > header > h1 {
    font-size: 500%;
    font-family: 'Merienda One', cursive;
}
.startpage > header > h1:first-letter,
.subpage > header > h1:first-letter {
    color: #00af64;
}
.startpage > header > p.tagline,
.subpage > header > p.tagline  {
    font-size: 120%;
    padding: 0.5em;
    border-top: 3px double #00af64;
    border-bottom: 3px double #00af64;
    margin: 4em 0;
}
.startpage > section {
    display: inline-block;
    width: 20%;
    margin-right: 6%;
    vertical-align: top;
}
.startpage > section:last-of-type,
.subpage > section:last-of-type {
    margin-right: 0;
}
.startpage > section > h2,
.subpage > aside > h2  {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #F5F5F5; /* mkt ljus grå */ 
    box-shadow: inset 0 0 20px #007241;
    border-radius: 50%;
    font: large 'Merienda One', cursive;
    text-align: center;
}
.startpage > section > h2 > a:link,
.startpage > section > h2 > a:visited,
.subpage > aside > h2 > a:link,
.subpage > aside > h2 > a:visited  {
  text-decoration: none;
    color: #000;
}
.startpage > section > h2 > a:focus, section > h2 > a:hover,
.subpage > aside > h2 > a:focus, aside > h2 > a:hover {
    text-decoration: underline;
    color: #A62F00;
}
.startpage > section > h2 > a:active,
.subpage > aside > h2 > a:active {
    text-decoration: underline;
    color: #FF4900;
}
.startpage > section p, .subpage > section p {
     padding: 1ch; /* Just för att inte alla stödjer ch */
    -moz-hyphen: auto;
}
footer {
    display: block;
    margin-top: 3em;
    text-align: center;
    color: #999;
}
/*==================================================================================
SUBPAGES
==================================================================================*/
.subpage .imagefiller {
    font-size: 600%;
}

.subpage > header > h1 {
    font-size: 300%;
    font-family: 'Merienda One', cursive;
}

.subpage > section {
    display: inline-block;
    width: 75%;
    margin-left: 2%;
    vertical-align: top;
}

.subpage > aside {
    display: inline-block;
    width: 20%;
    margin-right:2%;
    vertical-align: top;
}

.subpage > article {
    display:block;
    vertical-align: top;
	width: 100%; 
	
}

hr {padding: 0.5em; /*för att snygga till undersidorna utan p.tag-line men ändå ha samma design*/
	border-style:double;
	border-width:3px;
	border-color:#00af64 #fff;
    margin: 2em 0;}

figure {border:0px solid #E6E6E6;padding:4px;margin:1em; display:inline;}
figcaption {font-style:italic;font-size:smaller;padding-left:1em;}


/*
=========================================================
Class för positioneringar - block, bilder, captions med mer
=========================================================
*/
.block {overflow:auto;margin-bottom:20px;}
.blockslider {overflow:auto; height:300px;margin-bottom:20px;}
.bildcaption {clear:left; font-weight:bold; color:#666; font-size:110%; text-transform:uppercase; }
.double { border:1px solid #ccc; padding:5px;}
.alignright {float: right;padding: 0px;margin: 0px 0px 10px 10px;display: inline;}
.alignleft {float: left;padding: 0px;margin: 0px 10px 15px 0px;display: inline; }
.aligncenter{display:block;margin:0 auto;text-align:center; padding:10px 0  ;}

/*========================================================================
Tables
========================================================================*/

table {
    *border-collapse: collapse; /* IE7 och lägre */
    border-spacing: 0;
}

table {
		overflow:hidden;
		border:1px solid #d3d3d3;
		background:#fff;
		width:96%;
		margin:5% auto 0;
		-moz-border-radius:5px; /* FF1+ */
		-webkit-border-radius:5px; /* Saf3-4 */
		border-radius:5px;
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
		text-shadow:#fff 1px 1px 1px;}
	
	thead {font-size:150%;}
	th, td {padding:18px 28px 18px; text-align:left; }
	th {padding-top:22px;}
	td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}
	td {}
	th {background:#ddd;}
		
/*========================================================================
Nivo Slider
========================================================================*/

.theme-default #slider {
    margin:0 auto;
    width:618px; /* Make sure your images are the same size */
    height:246px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}
/* trigger commit in git */

