@charset "utf-8";
/* From http://dev.sawyerhollenshead.com/mozilla/buttons/buttons.html */
.persona-button  {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.1;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px rgba(0,0,0,0.5), 0 0 2px rgba(0,0,0,0.2);

    background: #297dc3;
    background: linear-gradient(to bottom, #43a6e2, #287cc2);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.persona-button:hover  {
    background: #21669f;
    background: linear-gradient(to bottom, #3788b9, #21669f);
}

.persona-button:active, .persona-button:focus {
    top: 1px;
    box-shadow: none;
}

.persona-button span {
    display: inline-block;
    padding: 5px 10px 5px 40px;
}

/* Icon */
.persona-button span:after {
    background: url(../img/persona-logo.png) 10px center no-repeat;
    content: '';
    display: block;
    width: 31px;
    
    position: absolute;
    bottom: 0;
    left: -3px;
    top: 0;
    z-index: 10;
}

/*  Icon background */
.persona-button span:before {
    content: '';
    display: block;
    height: 100%;
    width: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1;

    background: #42a9dd;
    background: linear-gradient(to bottom, #50b8e8, #3095ce);
    border-radius: 3px 0 0 3px;
}

/* Triangle */
.persona-button:before {
    background: #42a9dd;
    content: '';
    display: block;
    height: 26px;
    width: 26px;

    position: absolute;
    left: 2px;
    top: 50%;
    margin-top: -13px;
    z-index: 0;

    background: linear-gradient(45deg, #3095ce, #50b8e8);
    box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    transform: rotate(45deg);
}

/* Inset shadow (required here because the icon background clips it when on the `a` element) */
.persona-button:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
}

/* ========================================================
 *      Dark button 
 * ===================================================== */
.persona-button.dark {
    background: #3c3c3c;
    background: linear-gradient(to bottom, #606060, #3c3c3c);
}
.persona-button.dark:hover {
    background: #2d2d2d;
    background: linear-gradient(to bottom, #484848, #2d2d2d);
}
.persona-button.dark span:before { /* Icon BG */
    background: #d34f2d;
    background: linear-gradient(to bottom, #ebac45, #d34f2d);
}
.persona-button.dark:before { /* Triangle */
    background: #d34f2d;
    background: linear-gradient(-45deg, #d34f2d, #ebac45);
}

/* ========================================================
 *      Orange button 
 * ===================================================== */
.persona-button.orange {
    background: #ee731a;
    background: linear-gradient(to bottom, #ee731a, #d03116);
}
.persona-button.orange:hover {
    background: #cb6216;
    background: linear-gradient(to bottom, #cb6216, #b12a13);
}
.persona-button.orange span:before { /* Icon BG */
    background: #e84a21;
    background: linear-gradient(to bottom, #f7ad27, #e84a21);
}
.persona-button.orange:before { /* Triangle */
    background: #e84a21;
    background: linear-gradient(-45deg, #e84a21, #f7ad27);
}
 
/* ========================================================
 *      Keryx made green/blue button 
 * ===================================================== */
.persona-button:link,
.persona-button:visited {
    color: #fff;
}
.persona-button:focus,
.persona-button:hover {
    outline: none;
}
.persona-button.green {
    background: hsl(215, 58%, 51%);
    background: linear-gradient(to bottom, hsl(215, 58%, 51%), hsl(202, 35%, 31%));
}
.persona-button.green:hover {
    background: hsl(215, 52%, 43%);
    background: linear-gradient(to bottom, hsl(215, 52%, 43%), hsl(202, 55%, 26%));
}
.persona-button.green span:before { /* Icon BG */
    background: hsl(215, 58%, 66%);
    background: linear-gradient(to bottom, hsl(215, 58%, 66%), hsl(215, 58%, 56%));
}
.persona-button.green:before { /* Triangle */
    background: hsl(215, 58%, 66%);
    background: linear-gradient(-45deg, hsl(215, 58%, 56%), hsl(215, 58%, 66%));
}
