@charset "UTF-8";
/* ------------------------------- *\
   Information
\* ------------------------------- */
/*
Project: Webbteknik.nu
Version: alpha
Author:  Lars Gunther <gunther@keryx.se>
License: MPL 2.0 http://www.mozilla.org/MPL/
*/

/* ------------------------------- *\
   Contents
\* ------------------------------- */
/*
$notes       Style considerations
$reset       Browser equalazation rules
$defaults    Element specific rules (<html>, <body>, <h1>, <p>, etc)
$forms       Form element defaults
$media       Video, plugins, iframes
$shared      Simple, one-declaration only, rules used by lots of elements in lieu of variables + animations
$reused      Classes to be reused, OOCSS-style
Pageparts
    $masthead    Page header
    $primarynav  Primary navigation
    $footer      Page header
Pages
    $index       Rules for the start page (page specific or exceptions)
    $userpage    Rules for userpage.php (page specific or exceptions)
    $joblist     Job list page
    $files       Practice files
    $resources   Resource listings
    $signin      Sign in page
Effects
    $flashcards  Flashcards page
$TODO        Unsorted WIP rules

TODO mobile section
*/

/* ------------------------------- *\
   $Notes
\* ------------------------------- */
/*
http://colorschemedesigner.com/#2X527w0uhw0w0
Base coolor - analogic 45 degrees - higher contrast
Main color hsl(142, 100%, 34%) = rgb(0, 175,65) = #00AF41
Darker     hsl(142, 100%, 20%)
Darkdim    hsl(143, 55%, 31%)
Lighter    hsl(142, 72%, 58%)
Lightest   hsl(142, 62%, 69%)

Alternative blue
Base      hsl(215, 84%, 34%)
Darkdim   hsl(215, 47%, 30%)
Darkest   hsl(215, 94%, 19%)
Lighter   hsl(215, 66%, 59%)
Lightest  hsl(215, 55%, 69%)

Alternative lighgreen
Base      hsl(75, 100%, 45%)
Darkdim   hsl(75, 55%, 41%)
Darkest   hsl(76, 100%, 26%)
Lighter   hsl(75, 89%, 63%)
Lightest  hsl(76, 84%, 75%)

Signal colors
OK green             hsl(142, 100%, 50%)
Notice - yellowfade  hsl(58, 100%, 47%)
Error/warning        hsl(10, 100%, 47%)

*/


/* ------------------------------- *\
   $reset
\* ------------------------------- */


/* ------------------------------- *\
   $defaults
\* ------------------------------- */
html {
    background-color: rgb(0, 175,65);
    background-image: -webkit-linear-gradient(top      , hsl(142, 100%, 34%), hsl(142, 100%, 80%));
    background-image:    -moz-linear-gradient(top      , hsl(142, 100%, 34%), hsl(142, 100%, 80%));
    background-image:      -o-linear-gradient(top      , hsl(142, 100%, 34%), hsl(142, 100%, 80%));
    background-image:         linear-gradient(to bottom, hsl(142, 100%, 34%), hsl(142, 100%, 80%));
    min-height: 100%; /* Needed for gradients to appear */
}
body {
    width: 720px;
    margin: 0.4em auto;
    padding: 1px 30px 10px;
    border-radius: 4px;
    background-color: #FFF;
    font: medium/1.3 "Liberation sans", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #171717;
}
h1 {
    font-family: 'Oswald', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    color: hsl(215, 94%, 19%);
    font-size: 2em;
    margin: 0.3em 0;
}
h2 {
    font-size: 1.3em;
    color: hsl(215, 94%, 19%);
}
h3 {
    font-size: 1.15em;
    color: hsl(215, 94%, 19%);
}

a:link {
    /* TODO */
    color: hsl(215, 84%, 34%);
}
a:visited {
    /* TODO */
    color: hsl(215, 66%, 59%);
}
a:focus,
a:hover {
    /* TODO */
    background-color: hsl(215, 94%, 19%);
    color: #fff;
    outline: 2px solid hsl(76, 100%, 26%);
}
a:active {
    /* TODO */
}

:target {
    -webkit-animation: 3s yellowfade;
       -moz-animation: 3s yellowfade;
         -o-animation: 3s yellowfade;
            animation: 3s yellowfade;
}

strong > strong {
    font-size: larger;
}

/* ------------------------------- *\
   $forms
\* ------------------------------- */
fieldset {
    margin-top: 1em;
    margin-bottom: 2em;
    border-color:  hsl(142, 100%, 34%);
    border-radius: 10px;
}
/* So far value only for edituser-page 
TODO add class "leftlabels"
*/
label:first-child,
.labeldummysincecssalignmentisnearimpossible {
    display: inline-block;
    width: 6em;
    padding-right: 1em;
    text-align: right;
}
input[disabled] + label {
    color: #999;
}
.blocklabels label {
    display: block;
    margin-bottom: 0.15em;
    width: 90%;
    text-align: left;
}
.blocklabels input[type="radio"]    + label, 
.blocklabels input[type="checkbox"] + label {
    display: inline;
}
.blocklabels input[type="text"],
.blocklabels input[type="number"],
.blocklabels input[type="email"],
.blocklabels input[type="url"],
.blocklabels input[type="date"],
.blocklabels input[type="password"] {
    width: 50%;
    background-color: #F8F8F8;
}
/* div within fieldset for additional grouping */
.subfield {
    border: 1px solid hsl(142, 100%, 34%);
    border-radius: 6px;
    padding: 1em;
    margin: 1em;
}
/* ------------------------------- *\
   $media
\* ------------------------------- */
iframe {
    width: 560px;
    height: 315px;
    border: none;
}
/* Fullsize video, according recording dimensions */
.fullsize {
    width: 1280px;
    height: 720px;
}
.halfsize {
    width: 640px;
    height: 360px;
}


/* ------------------------------- *\
   $shared
\* ------------------------------- */
.wide {
    width: 1000px;
}
.centered {
    text-align: center;
}
.space {
    margin: 2em 0 0;
}
.hidden {
    display: none;
}
.yellowfade {
    -webkit-animation: 3s yellowfade;
       -moz-animation: 3s yellowfade;
         -o-animation: 3s yellowfade;
            animation: 3s yellowfade;
}
.greenfade {
    -webkit-animation: 5s greenfade;
       -moz-animation: 5s greenfade;
         -o-animation: 5s greenfade;
            animation: 5s greenfade;
}

@-webkit-keyframes yellowfade {
    from {
        background-color: hsl(58, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}
@-moz-keyframes yellowfade {
    from {
        background-color: hsl(58, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}
@-o-keyframes yellowfade {
    from {
        background-color: hsl(58, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}
@keyframes yellowfade {
    from {
        background-color: hsl(58, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}

@-webkit-keyframes greenfade {
    from {
        background-color: hsl(142, 100%, 50%);
    }
    20% {
        background-color: transparent;
    }
    40% {
        background-color: hsl(142, 100%, 50%);
    }
    to {
        background-color: transparent;
    }
}
@-moz-keyframes greenfade {
    from {
        background-color: hsl(142, 100%, 50%);
    }
    20% {
        background-color: transparent;
    }
    40% {
        background-color: hsl(142, 100%, 50%);
    }
    to {
        background-color: transparent;
    }
}
@-o-keyframes greenfade {
    from {
        background-color: hsl(142, 100%, 50%);
    }
    20% {
        background-color: transparent;
    }
    40% {
        background-color: hsl(142, 100%, 50%);
    }
    to {
        background-color: transparent;
    }
}
@keyframes greenfade {
    from {
        background-color: hsl(142, 100%, 50%);
    }
    20% {
        background-color: transparent;
    }
    40% {
        background-color: hsl(142, 100%, 50%);
    }
    to {
        background-color: transparent;
    }
}

@-webkit-keyframes redfade {
    from {
        background-color: hsl(10, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}
@-moz-keyframes redfade {
    from {
        background-color: hsl(10, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}
@-o-keyframes redfade {
    from {
        background-color: hsl(10, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}
@keyframes redfade {
    from {
        background-color: hsl(10, 100%, 47%);
    }
    to {
        background-color: transparent;
    }
}

/* ------------------------------- *\
   $reused
\* ------------------------------- */
.sign {
    font-family: 'Handlee', cursive;
    font-size: xx-large;
}
.unobtrusive {
    color: #888;
    font-size: smaller;
}
.important {
    font-size: larger;
    border: 3px double hsl(142, 100%, 50%);
    padding: 1em;
    text-align: center;
}
.blackborder,
.blackborder th,
.blackborder td {
    border: 1px solid black;
    border-collapse: collapse;
}
.zebra tr:nth-child(odd) {
    background-color: hsl(76, 84%, 85%);
}
/* Headers in boxes need no margin */
.boxedheader {
    margin: 0;
}
.tightparagraph {
    margin: 0.3em 0;
    font-size: 0.9em;
}

/* TODO: Show a nice icon instead for these links */
a[href^="https://developer.mozilla.org"]:after {
    content: url(../img/mdn.ico);
    padding-left: 5px;
    opacity: 0.4;
    vertical-align: sub;
}
a[href*="w3.org"]:after {
    content: url(../img/w3-org.ico);
    padding-left: 5px;
    opacity: 0.5;
    vertical-align: sub;
}
a[href*="webplatform.org"]:after {
    content: url(../img/webplatform-org.ico);
    padding-left: 5px;
    opacity: 0.4;
    vertical-align: sub;
}
a[href*="wikipedia.org"]:after {
    content: url(../img/wikipedia.ico);
    padding-left: 5px;
    opacity: 0.5;
    vertical-align: sub;
}
.linktype[title] {
    border-bottom: 1px dotted;
    font-size: 80%;
}
.errormsg {
    color: hsl(10, 100%, 47%);
    font-style: italic;
    -webkit-animation: 2s redfade;
       -moz-animation: 2s redfade;
         -o-animation: 2s redfade;
            animation: 2s redfade;
}
.error {
    outline: 1px solid hsl(10, 100%, 47%);
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.spacedlist > li {
    margin-top: 0.5em;
}
/* ------------------------------- *\
   $masthead
\* ------------------------------- */


/* ------------------------------- *\
   $primarynav
\* ------------------------------- */
.mainmenu {
    position: relative;
    padding: 1.2em 2px 2px;
    margin: 0;
    border-radius: 2px;
    text-align: center;
    background-color: hsl(215, 55%, 69%);
    font-family: 'Oswald', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    letter-spacing: 1px;
}
.mainmenu ul {
    margin: 0.2em 0;
}
.mainmenu li {
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    min-width: 150px;
    text-transform: uppercase;
} 
.mainmenu a {
    text-decoration: none;
    color: black;
    display: block;
}
.mainmenu a:link,
.mainmenu a:visited {
    text-shadow: 1px 1px 1px hsl(215, 55%, 90%);
}
.mainmenu a:focus,
.mainmenu a:hover {
    background-color: hsl(75, 89%, 63%);
    text-shadow: none;
    /*outline: 2px solid hsl(75, 89%, 63%);*/ /* Mystery space between content and outline */
    outline: none;
}

.userdata {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 185px;
    margin: 0;
    text-align: right;
    font-size: x-small;
}
.userdata:hover {
    background-color: hsl(215, 55%, 82%);
    outline: 2px solid hsl(75, 88%, 63%);
}
.userdata a {
    display: block;
}
.usermenu {
    background-color: hsl(215, 55%, 82%);
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.3s;
}
.userdata:hover > .usermenu {
    height: 5em;
}
.usermenu > li {
    display: block;
    margin: 0;
}
.usermenu > li > a {
    display: block;
    padding: 0.5em 0;
}

.primarymenu {
    margin: 0.2em 0;
}
.primarymenu > li {
    display: inline-block;
    margin: 0;
    padding: 2px 5px;
    min-width: 150px;
    text-transform: uppercase;
}

/* ------------------------------- *\
   $secnav
\* ------------------------------- */

.secnav {
    float: right;
    width: 20%;
    margin-left: 5%;
}
.secnav button {
    display: block;
    margin-bottom: 1em;
    width: 80%
}

/* ------------------------------- *\
   $footer
\* ------------------------------- */

footer {
    margin-top: 2em;
    border-top: 2px ridge hsl(215, 66%, 59%);
    padding-top: 1em;
    font-size: smaller;
}
footer ul,
footer li {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer li {
    display: inline-block;
    margin-right: 2em;
    
}
hr.todo {
    margin-top: 2em;
}
.techtests {
    border-collapse: collapse;
}
.techtests {
    margin: 1em auto;
    border: 1px solid #222;
    border-collapse: collapse;
}
.techtests th,
.techtests td {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 4px 5px;
}
.techtests th[scope='row'] {
    text-align: left;
    font-weight: normal;
}
.tsupported {
    color: hsl(142, 100%, 20%);
}
.tunsupported {
    color: hsl(10, 100%, 47%);
}

/* ------------------------------- *\
   $index
\* ------------------------------- */

.newsflash {
    margin: 2em;
    font-size: larger;
    border: 1px solid green;
    padding: 1em;
    border-radius: 5px;
}
}
/* ------------------------------- *\
   $userpage
\* ------------------------------- */
#videocontainer {
    float: left;
}
#videobuttons {
    margin-left: 680px;
    width: 150px;
}
#videobuttons button {
    width: 149px;
    margin-bottom: 20px;
}
#resource_suggestions {
    /* */
}
#resource_suggestions > div {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    min-height: 90px;
    padding: 10px;
    background-color: hsl(75, 35%, 90%);
    border-radius: 5px; 
    vertical-align: top;
}
#resource_suggestions > div > ul {
    padding-left: 1.5em;
}
#resource_suggestions > div > ul > li > a {
    text-decoration: none;
}

/* ------------------------------- *\
   $userpage
\* ------------------------------- */



/* ------------------------------- *\
   $joblist
\* ------------------------------- */
.jobreport {
    font-size: smaller;
    margin: auto;
}
.jobreport th,
.jobreport td {
    padding: 3px 5px;
}
.jobreport th:first-child {
    min-width: 25em;
}
.finished {
    opacity: 0.5;
}
.skipped {
    opacity: 0.75;
}
.zebra .finished:nth-child(odd),
.zebra .skipped:nth-child(odd) {
    background-color: hsl(76, 84%, 92%);
}
.jobreport tr:hover {
    opacity: 1;
    background-color: lightgreen;
}
.jobreport a:link {
    /* color: rgb(0, 0, 238); */
    color: rgb(0, 0, 180);
}
.jobreport a:focus,
.jobreport a:hover,
.jobreport a:active {
    color: #FFF;
}
.jobreport button {
    margin: 0 2px;
}
/* Show clearly that this is where you currentle are */
.curstate {
    outline: 3px solid hsl(215, 55%, 69%);
}
.finished > td > .curstate {
    outline: 3px solid hsl(142, 100%, 34%);
}
/* ------------------------------- *\
   $files
\* ------------------------------- */
.filelist > li {
    margin-top: 1em;
    line-height: 1.5em;
}
/* ------------------------------- *\
   $resources
\* ------------------------------- */
.resourcelisting {
    margin: 2em auto 0;
}
.resourcelisting > caption {
    font-size: x-large;
    padding: 5px;
}
.resourcelisting thead tr:first-child {
    background-color: hsl(215, 55%, 69%);
    font-size: larger;
}
.resourcelisting thead tr:nth-child(2),
.resourcelisting thead tr.sub {
    background-color: hsl(215, 55%, 79%);
}

.resourcelisting thead tr:first-child > th {
    padding: 8px;
}
.resourcelisting th,
.resourcelisting td {
    padding: 3px 5px;
}
.resourcelisting th:first-child {
    min-width: 25em;
}
.resourcelisting th:last-child {
    min-width: 10em;
}

/* ------------------------------- *\
   $signin
\* ------------------------------- */

.signinbox {
    margin: 2em;
    padding: 1em;
    border: 1px solid hsl(142, 100%, 34%);
    border-radius: 4px;
}
/* Persona buttons in separate CSS */


/* ------------------------------- *\
   $edituser
\* ------------------------------- */

/* Possibly move some stuff to forms section */

.nonimplemented + label::after,
.nonimplemented::after {
    content: " (Framtida funktion. Ej klar ännu.)";
}
.nonimplemented {
    opacity: 0.5;
    text-decoration: line-through;
}
.updated {
    background-color: hsl(58, 100%, 47%);
    /* TODO Fade yellow, add ARIA */
}
.updated::after {
    content: " - Databas uppdaterad.";
}
.wrong {
    outline: 2px solid hsl(359, 60%, 47%);
    -webkit-animation: 2s redfade;
       -moz-animation: 2s redfade;
         -o-animation: 2s redfade;
            animation: 2s redfade;
    /* TODO add ARIA */
}
.wrong::after {
    content: " - Fel svar.";
}

/* ------------------------------- *\
   $flashcards
\* ------------------------------- */

/* Separate file thus far, maybe keep it that way */



/* ------------------------------- *\
   $TODO
\* ------------------------------- */
@media screen and (max-width: 1080px) {
    .wide {
        width: 90%;
        max-width: 1280px;
    }
    #resource_suggestions > div {
        margin-bottom: 1em; /* When stacked vertically */
    }
/*
    body {
        width: 890px;
    }
    video.fullsize {
        width: 640px;
        height: 360px;
    }
    video.halfsize {
        width: 320px;
        height: 180px;
    }
    */
}
@media screen and (max-width: 950px) {
    .wide {
        width: 90%;
        max-width: 1280px;
    }
    #videobuttons {
        clear: both;
        margin-left: 0;
        width: 100%;
    }
    #resource_suggestions > div {
        margin-bottom: 1em; /* When stacked vertically */
    }
}


/* icons: http://www.smashingmagazine.com/2012/06/18/freebie-academic-icon-set-10-png-psd-icons/ */

/*
TODO list
1. Remove id selectors
2. Smarter grouping of declarations (re-use vz page specific)
3. Tons of design improvements

*/

/* ------------------------------- *\
   $Attributions
\* ------------------------------- */
/*
CSS Code style tips: http://csswizardry.com/2012/04/my-html-css-coding-style/
*/

/* ----------------------------------------------------------------------------------

Den förste som hittar detta meddelande per stad och skickar sin snigelpostadress till gunther at keryx punkt se
kommer få en tjuga med posten!

------------------------------------------------------------------------------------ */
