@charset "UTF-8";
/* ------------------------------- *\
   Information
\* ------------------------------- */
/*
Project: Webbteknik.nu
Version: alpha
Author:  Lars Gunther <gunther@keryx.se>
License: MPL 2.0 http://www.mozilla.org/MPL/
*/

/* ------------------------------- *\
   Contents
\* ------------------------------- */
/*
$notes       Style considerations
$reset       Browser equalazation rules
$defaults    Element specific rules (<html>, <body>, <h1>, <p>, etc)
$forms       Form element defaults
$media       Video, plugins, iframes
$shared      Simple, one-declaration only, rules used by lots of elements in lieu of variables
$reused      Classes to be reused, OOCSS-style
Pageparts
    $masthead    Page header
    $primarynav  Primary navigation
    $footer      Page header
Pages
    $index       Rules for the start page (page specific or exceptions)
    $userpage    Rules for userpage.php (page specific or exceptions)
    $joblist     Job list page
    $signin      Sign in page
Effects
    $flashcards  Flashcards page
$TODO        Unsorted WIP rules

TODO mobile section
*/

/* ------------------------------- *\
   $Notes
\* ------------------------------- */
/*

*/


/* ------------------------------- *\
   $reset
\* ------------------------------- */


/* ------------------------------- *\
   $defaults
\* ------------------------------- */
html {
    background-color: rgb(0, 175,63);
    background-image: -webkit-linear-gradient(to bottom, rgb(0, 175,63), #fff);
    background-image:    -moz-linear-gradient(to bottom, rgb(0, 175,63), #fff);
    background-image:     -ms-linear-gradient(to bottom, rgb(0, 175,63), #fff);
    background-image:      -o-linear-gradient(to bottom, rgb(0, 175,63), #fff);
    min-height: 100%; /* Needed for gradients to appear */
}
body {
    width: 720px;
    margin: auto;
    padding: 0 30px 10px;
    background-color: #FFF;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 4px;    
}
h1 {
    font-family: consolas, monospace;
    text-align: center;
}
h2 {
    font-size: 1.3em;
}


/* ------------------------------- *\
   $forms
\* ------------------------------- */
fieldset {
    margin-top: 1em;
    margin-bottom: 2em;
    border-color:  rgb(0, 175,63);
    border-radius: 10px;
}
label:first-child,
.labeldummysincecssalignmentisnearimpossible {
    display: inline-block;
    width: 6em;
    padding-right: 1em;
    text-align: right;
}
input[disabled] + label {
    color: #999;
}


/* ------------------------------- *\
   $media
\* ------------------------------- */
iframe {
    width: 560px;
    height: 315px;
    border: none;
}
/* Fullsize video, according recording dimensions */
.fullsize {
    width: 1280px;
    height: 720px;
}
.halfsize {
    width: 640px;
    height: 360px;
}


/* ------------------------------- *\
   $shared
\* ------------------------------- */


/* ------------------------------- *\
   $reused
\* ------------------------------- */
.wide {
    width: 1000px;
}
.centered {
    text-align: center;
}
.space {
    margin: 2em 0 0;
}
.sign {
    font-family: 'Handlee', cursive;
    font-size: xx-large;
}
.hidden {
    display: none;
}
.blackborder,
.blackborder th,
.blackborder td {
    border: 1px solid black;
    border-collapse: collapse;
}
.zebra tr:nth-child(odd) {
    background-color: #DDD;
}
/* Headers in boxes need no margin */
.boxedheader {
    margin: 0;
}
.tightparagraph {
    margin: 0.3em 0;
}

/* ------------------------------- *\
   $masthead
\* ------------------------------- */


/* ------------------------------- *\
   $primarynav
\* ------------------------------- */
.mainmenu {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #DDD;
}
.mainmenu li {
    display: inline-block;
    padding: 2px 5px;
    min-width: 150px;
    text-transform: uppercase;
}
.mainmenu a {
    text-decoration: none;
}


/* ------------------------------- *\
   $footer
\* ------------------------------- */

footer {
    margin-top: 2em;
    border-top: 2px ridge lightgreen;
    padding-top: 1em;
font-size: smaller;
}
footer ul,
footer li {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer li {
    display: inline-block;
    margin-right: 2em;
    
}
hr.todo {
    margin-top: 2em;
}
.techtests {
    border-collapse: collapse;
}
.techtests {
    margin: 1em auto;
    border: 1px solid #222;
    border-collapse: collapse;
}
.techtests th, .techtests td {
    border: 1px solid #222;
    border-collapse: collapse;
    padding: 3px 5px;
}
.techtests th[scope='row'] {
    text-align: left;
    font-weight: normal;
}
.tsupported {
    color: darkgreen;
}
.tunsupported {
    color: darkred;
}

/* ------------------------------- *\
   $index
\* ------------------------------- */


/* ------------------------------- *\
   $userpage
\* ------------------------------- */
#videocontainer {
    float: left;
}
#videobuttons {
    margin-left: 680px;
    width: 150px;
}
#videobuttons button {
    width: 149px;
    margin-bottom: 20px;
}
#vidprogress {
    color: #888;
    font-size: smaller;
    clear: both;
}
#resource_suggestions {
    /* */
}
#resource_suggestions > div {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
    height: 80px;
    padding: 10px;
    background-color: #DDD;
    border-radius: 5px; 
    vertical-align: top;
}


/* ------------------------------- *\
   $userpage
\* ------------------------------- */



/* ------------------------------- *\
   $joblist
\* ------------------------------- */
.jobreport {
    font-size: smaller;
    margin: auto;
}
.jobreport th,
.jobreport td {
    padding: 3px 5px;
}
.finished {
    opacity: 0.5;
}
.skipped {
    opacity: 0.8;
    background-color: #fdf8ed;
}
.skipped:nth-child(odd) {
    background-color: #e0b7b2;
}
.jobreport tr:hover {
    opacity: 1;
    background-color: lightgreen;
}
.jobreport a:link {
    /* color: rgb(0, 0, 238); */
    color: rgb(0, 0, 180);
}
.jobreport button {
    margin: 0 2px;
}
/* Show clearly that this is where yoy currentle are */
.curstate {
    outline: 3px solid darkgreen;
}
/*
.jobreport a:visited {
    color: pink;
}
.jobreport a:focus,
.jobreport a:hover {
    color: blue;
}
.jobreport a:active {
    color: red;
}
*/
/* ------------------------------- *\
   $signin
\* ------------------------------- */

.signinbox {
    margin: 2em;
    padding: 1em;
    border: 1px solid rgb(0, 175,63);
    border-radius: 4px;
}



/* ------------------------------- *\
   $edituser
\* ------------------------------- */

/* Possibly move some stuff to forms section */

.nonimplemented + label::after,
.nonimplemented::after {
    content: " (Framtida funktion. Ej klar ännu.)";
}
.nonimplemented {
    opacity: 0.5;
    text-decoration: line-through;
}
.updated {
    background-color: yellow;
    /* TODO Fade yellow, add ARIA */
}
.updated::after {
    content: " - Databas uppdaterad.";
}
.wrong {
    background-color: hsl(359, 60%, 80%);
    /* TODO Fade red, add ARIA */
}
.wrong::after {
    content: " - Fel svar.";
}




/* ------------------------------- *\
   $flashcards
\* ------------------------------- */

/* Separate file thus far, maybe keep it that way */



/* ------------------------------- *\
   $TODO
\* ------------------------------- */
@media screen and (max-width: 1320px) {
    body {
        width: 720px;
    }
    .wide {
        width: 90%;
        max-width: 1280px;
    }
    video.fullsize {
        width: 640px;
        height: 360px;
    }
    video.halfsize {
        width: 320px;
        height: 180px;
    }
}


/* icons: http://www.smashingmagazine.com/2012/06/18/freebie-academic-icon-set-10-png-psd-icons/ */

/*
TODO list
1. Remove id selectors
2. Smarter grouping of declarations (re-use vz page specific)
3. Tons of design improvements

*/

/* ------------------------------- *\
   $Attributions
\* ------------------------------- */
/*
CSS Code style tips: http://csswizardry.com/2012/04/my-html-css-coding-style/
*/

/* ----------------------------------------------------------------------------------

Watch this space for easter eggs

------------------------------------------------------------------------------------ */
