html {
    background-color: lightslategrey;
}
body {
    margin: auto; /* bjuds på */
    width: 500px; /* bjuds på */
    padding-bottom: 0.1px; /*knep för div margin */
    background-color: azure;
    font-family: sans-serif;
}
h1 {
    color: purple;
    text-align: center;
}
div {
    margin: 10px; /* bjuds på */
    padding: 10px; /* bjuds på */
    border: 1px solid purple;
    border-radius: 5px;
}
#billy {
    color: darkred;
}
#bob {
    color: darkgreen;
}
.two {
    font-size: larger;
}
.two + p {
    font-size: smaller;
}
.two + p + p {
    font-weight: bolder;
}
#bob > .two + p + p {
    text-align: justify;
} 
#bob a {
    text-decoration: line-through;
}
#bob > .two > a {
    text-decoration: underline overline;
    -moz-text-decoration-style: double;
    -moz-text-decoration-color: orange;
}
